<div class="container media">
  <div class="photos">
    <div class="row">
      <div class="column">
        <img src="./../../assets/gallery/1.jpg" style="width:100%" />
        <img src="./../../assets/gallery/2.jpg" style="width:100%" />
        <img src="./../../assets/gallery/3.jpg" style="width:100%" />
        <img src="./../../assets/gallery/4.jpg" style="width:100%" />
        <img src="./../../assets/gallery/5.jpg" style="width:100%" />
      </div>
      <div class="column">
        <img src="./../../assets/gallery/2.jpg" style="width:100%" />
        <img src="./../../assets/gallery/1.jpg" style="width:100%" />
        <img src="./../../assets/gallery/4.jpg" style="width:100%" />
        <img src="./../../assets/gallery/5.jpg" style="width:100%" />
        <img src="./../../assets/gallery/3.jpg" style="width:100%" />
      </div>
      <div class="column">
        <img src="./../../assets/gallery/3.jpg" style="width:100%" />
        <img src="./../../assets/gallery/1.jpg" style="width:100%" />
        <img src="./../../assets/gallery/5.jpg" style="width:100%" />
        <img src="./../../assets/gallery/2.jpg" style="width:100%" />
        <img src="./../../assets/gallery/4.jpg" style="width:100%" />
      </div>
      <div class="column">
        <img src="./../../assets/gallery/5.jpg" style="width:100%" />
        <img src="./../../assets/gallery/4.jpg" style="width:100%" />
        <img src="./../../assets/gallery/3.jpg" style="width:100%" />
        <img src="./../../assets/gallery/2.jpg" style="width:100%" />
        <img src="./../../assets/gallery/1.jpg" style="width:100%" />
      </div>
    </div>
  </div>
  <div class="songs">
    <mat-advanced-audio-player
      [playlist]="msaapPlaylist"
      [displayTitle]="msaapDisplayTitle"
      [displayPlaylist]="msaapDisplayPlayList"
      [pageSizeOptions]="msaapPageSizeOptions"
      [expanded]="true"
    ></mat-advanced-audio-player>
  </div>
</div>
