.footer {
    position: relative;
    bottom: 0%;
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
}

.footer-icons {
    margin: 5px 20px;
}



a {
    color: rgb(114, 114, 114);
}

a:hover {
    color: rgb(221, 221, 221);
    transition: .3s;
}

.lang {
    background-color: rgb(114, 114, 114);
    height: 27px;
    width: 36px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

a.lang:hover {
    background-color: rgb(221, 221, 221);
    color: rgb(110, 110, 110);
}

.fa {
    height: 25px;
}