.home-page {
    background-image: url('./../../assets/heavyGallery/2.png');
    height: 1000px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .bg-image {
    background-image: url('./../../assets/gallery/2.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
} */